* { margin: 0; padding: 0; box-sizing: border-box; }
body {
    font: 13px Helvetica, Arial;
}
form {
    padding: 3px;
    bottom: 0;
    width: 100%;
    background-color: #EFEFEF;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
}
form input { border: 0; padding: 5px; width: 100%; margin-right: .5%; }
.container {
    background-color: #EFEFEF;
    border-style: solid;
    border-width: 1px;
}
.top-container { height: 400px; }
.messages-box {
    background-color:#666666;
    height: 90%;
    max-height: 360px;
    overflow: scroll;
 }
.users-box {
    background-color:#666666;
    height: 90%;
    max-height: 360px;
    overflow: scroll;
}

#username-notif { margin-bottom: 0; }

#online-users { list-style-type: none; margin: 0; padding: 0; }
#online-users li { padding: 5px 10px; }

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
